DESCRIPTION.md

# Virtual environments
*venv
*venv.*

# VS Code
.vscode

# Pictures used
*.png
*.jpg
*.jpeg

# Cache & Backup files
*pycache*
*backup*
*Backups*
*workspace*
*autosave*
*lck*
*auto_save*

# Private files
*research
*manual_tests
*.zip

# Sensitive files
*.env
*uni_mock*
*.rois.json
*lock*