

# Virtual environments
*venv
*venv.*

# VS Code
.vscode

# Pictures used
computer_vision/data/*.png
computer_vision/data/*.jpg
computer_vision/data/*.jpeg
*sample*

# Cache & Backup files
*pycache*
*backup*
*Backups*
*workspace*
*autosave*
*lck*
*auto_save*

# Private files
*research
*manual_tests
*.zip
*.xml

# Sensitive files
*.env
*uni_mock*
*.rois.json
*lock*
*cache*
*fp-lib-table
*sym-lib-table